{% extends 'base.html' %}

{% block head%}
<title>Web URL Shortner </title>
{% endblock %}

{%block body%}
<div class="content">
    <h1>Web URL Shortner</h1>

    {% if tasks | length < 1 %}
    <h3>There are currently no url </h3>
    {% else %}
    <table>
        <tr>
            <th>Original URL<th>
            <th>Actions</th>
            <th>New URL</th>
        </tr>

        {% for task in tasks %}

        <tr>
            <td>{{task.content}} </td>
            <td>{{task.created.strftime("%Y-%m-%d")}}</td>
            <td>
                <a href="/delete/{{task.id}}">delete</a>
            <br/>
                <a href="/update/{{task.id}}">edit</a>
            </td>
            <td>{{task.newURL}}</td>
        </tr>

        {% endfor %}

    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type = "text" name = "content" id = "content" />
        <input type = "submit" value = "Add URL" id="btn_add" />
    </form>

</div>
{% endblock %}
